# Lab | Making predictions with logistic regression

In this lab, you will be using the Sakila database of movie rentals.

#### In order to optimize our inventory, we would like to know which films will be rented. We are asked to create a model to predict it. So we use the information we have from May 2005 to create the model.

Instructions

1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features (X).

2. Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. (Create new column called - 'rented_in_may'). This will be our TARGET (y) variable.

3. Read the data into a Pandas dataframe. At this point you should have 1000 rows. Number of columns depends on the number of features you chose.

4. Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.

5. Create a logistic regression model to predict 'rented_in_may' from the cleaned data.

6. Evaluate the results.

In [1]:
import pandas as pd
import numpy as np

#### 0. Importing Sakila database into Python

In [2]:
import pymysql                        
from sqlalchemy import create_engine  
from getpass import getpass

In [3]:
password = getpass()

········

In [4]:
# Creating connection_string and engine for querying
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [5]:
# Checking engine
type(engine)

sqlalchemy.engine.base.Engine

### 1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features (X).

In [6]:
#Querying for general information about rented films

query = '''SELECT r.rental_id, DATE(r.rental_date) AS rental_date, i.inventory_id, f.film_id, f.title, f.rating, f.rental_rate AS rate, f.length AS min_length
FROM rental r
JOIN inventory i USING (inventory_id)
JOIN film f USING (film_id);'''

general_data = pd.read_sql_query(query, engine)
display(general_data.head(10), general_data.shape)

,rental_id,rental_date,inventory_id,film_id,title,rating,rate,min_length
0,4863,2005-07-08,1,1,ACADEMY DINOSAUR,PG,0.99,86
1,11433,2005-08-02,1,1,ACADEMY DINOSAUR,PG,0.99,86
2,14714,2005-08-21,1,1,ACADEMY DINOSAUR,PG,0.99,86
3,16051,2023-03-06,1,1,ACADEMY DINOSAUR,PG,0.99,86
4,972,2005-05-30,2,1,ACADEMY DINOSAUR,PG,0.99,86
5,2117,2005-06-17,2,1,ACADEMY DINOSAUR,PG,0.99,86
6,4187,2005-07-07,2,1,ACADEMY DINOSAUR,PG,0.99,86
7,9449,2005-07-30,2,1,ACADEMY DINOSAUR,PG,0.99,86
8,15453,2005-08-23,2,1,ACADEMY DINOSAUR,PG,0.99,86
9,10126,2005-07-31,3,1,ACADEMY DINOSAUR,PG,0.99,86

(16046, 8)

In [7]:
# Checking for Nan values

general_data.isna().sum()

rental_id       0
rental_date     0
inventory_id    0
film_id         0
title           0
rating          0
rate            0
min_length      0
dtype: int64

In [8]:
#Checking unique values

general_data.nunique()

rental_id       16046
rental_date        42
inventory_id     4580
film_id           958
title             958
rating              5
rate                3
min_length        140
dtype: int64

### 2. Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. (Create new column called - 'rented_in_may'). This will be our TARGET (y) variable.

In [9]:
# Getting unique film titles and adding 'rented_in_may' boolean column

query = '''SELECT DISTINCT f.title, max(IF(r.rental_date BETWEEN '2005-05-01' AND '2005-06-01', 1, 0)) AS rented_in_may 
FROM film f
LEFT JOIN inventory i USING (film_id)
LEFT JOIN rental r USING (inventory_id)
GROUP BY f.title;'''

data = pd.read_sql_query(query, engine)
display(data.head(10),data.shape)

              title  rented_in_may
0  ACADEMY DINOSAUR              1
1    ACE GOLDFINGER              0
2  ADAPTATION HOLES              1
3  AFFAIR PREJUDICE              1
4       AFRICAN EGG              1
5      AGENT TRUMAN              1
6   AIRPLANE SIERRA              0
7   AIRPORT POLLOCK              1
8     ALABAMA DEVIL              0
9  ALADDIN CALENDAR              0

(1000, 2)

In [10]:
# Expanding our data information about these films

query = '''SELECT DISTINCT f.title, f.length as minutes_length, f.rental_rate, f.rating, c.name as category, f.special_features
FROM film f
JOIN film_category fc USING (film_id)
JOIN category c USING (category_id)
order by f.title;'''

film_data = pd.read_sql_query(query, engine)
display(film_data.head(10),film_data.shape)

,title,minutes_length,rental_rate,rating,category,special_features
0,ACADEMY DINOSAUR,86,0.99,PG,Documentary,"Deleted Scenes,Behind the Scenes"
1,ACE GOLDFINGER,48,4.99,G,Horror,"Trailers,Deleted Scenes"
2,ADAPTATION HOLES,50,2.99,NC-17,Documentary,"Trailers,Deleted Scenes"
3,AFFAIR PREJUDICE,117,2.99,G,Horror,"Commentaries,Behind the Scenes"
4,AFRICAN EGG,130,2.99,G,Family,Deleted Scenes
5,AGENT TRUMAN,169,2.99,PG,Foreign,Deleted Scenes
6,AIRPLANE SIERRA,62,4.99,PG-13,Comedy,"Trailers,Deleted Scenes"
7,AIRPORT POLLOCK,54,4.99,R,Horror,Trailers
8,ALABAMA DEVIL,114,2.99,PG-13,Horror,"Trailers,Deleted Scenes"
9,ALADDIN CALENDAR,63,4.99,NC-17,Sports,"Trailers,Deleted Scenes"

(1000, 6)

In [11]:
# Dropping 'title' before concatenating (avoid repetition)

film_data = film_data.drop(['title'], axis=1)
film_data

,minutes_length,rental_rate,rating,category,special_features
0,86,0.99,PG,Documentary,"Deleted Scenes,Behind the Scenes"
1,48,4.99,G,Horror,"Trailers,Deleted Scenes"
2,50,2.99,NC-17,Documentary,"Trailers,Deleted Scenes"
3,117,2.99,G,Horror,"Commentaries,Behind the Scenes"
4,130,2.99,G,Family,Deleted Scenes
...,...,...,...,...,...
995,183,0.99,G,Documentary,"Trailers,Behind the Scenes"
996,179,0.99,NC-17,Music,"Trailers,Behind the Scenes"
997,105,0.99,NC-17,Horror,Deleted Scenes
998,101,2.99,R,Children,"Trailers,Deleted Scenes"
999,50,4.99,NC-17,Comedy,"Trailers,Commentaries,Behind the Scenes"

In [12]:
# Concatenating both dataframes

data = pd.concat([data, film_data], axis=1)
data

,title,rented_in_may,minutes_length,rental_rate,rating,category,special_features
0,ACADEMY DINOSAUR,1,86,0.99,PG,Documentary,"Deleted Scenes,Behind the Scenes"
1,ACE GOLDFINGER,0,48,4.99,G,Horror,"Trailers,Deleted Scenes"
2,ADAPTATION HOLES,1,50,2.99,NC-17,Documentary,"Trailers,Deleted Scenes"
3,AFFAIR PREJUDICE,1,117,2.99,G,Horror,"Commentaries,Behind the Scenes"
4,AFRICAN EGG,1,130,2.99,G,Family,Deleted Scenes
...,...,...,...,...,...,...,...
995,YOUNG LANGUAGE,0,183,0.99,G,Documentary,"Trailers,Behind the Scenes"
996,YOUTH KICK,0,179,0.99,NC-17,Music,"Trailers,Behind the Scenes"
997,ZHIVAGO CORE,1,105,0.99,NC-17,Horror,Deleted Scenes
998,ZOOLANDER FICTION,1,101,2.99,R,Children,"Trailers,Deleted Scenes"
999,ZORRO ARK,1,50,4.99,NC-17,Comedy,"Trailers,Commentaries,Behind the Scenes"

### 3. Read the data into a Pandas dataframe. At this point you should have 1000 rows. Number of columns depends on the number of features you chose.

In [13]:
#Done before

##### Analyzing data

In [14]:
#Checking for unique values

data.nunique()

title               1000
rented_in_may          2
minutes_length       140
rental_rate            3
rating                 5
category              16
special_features      15
dtype: int64

In [15]:
# Droping 'title' as it holds too many unique values

data = data.drop(['title'], axis=1)

data.nunique()

rented_in_may         2
minutes_length      140
rental_rate           3
rating                5
category             16
special_features     15
dtype: int64

In [16]:
# Checking 'minutes-length' information

data['minutes_length'].describe()

count    1000.000000
mean      115.272000
std        40.426332
min        46.000000
25%        80.000000
50%       114.000000
75%       149.250000
max       185.000000
Name: minutes_length, dtype: float64

In [17]:
# Converting 'minutes_length' in just 2 categories
def film_length(x):
    if x > 90 :
        return '>90min'
    else:
        return '<90min'

#Applying function
data['minutes_length'] = list(map(film_length, data['minutes_length']))

In [18]:
data.nunique()

rented_in_may        2
minutes_length       2
rental_rate          3
rating               5
category            16
special_features    15
dtype: int64

In [19]:
#Checking 'category''s categories

data['category'].value_counts()

Sports         74
Foreign        73
Family         69
Documentary    68
Animation      66
Action         64
New            63
Drama          62
Sci-Fi         61
Games          61
Children       60
Comedy         58
Classics       57
Travel         57
Horror         56
Music          51
Name: category, dtype: int64

In [20]:
# Fitting all in just 3 categories

def film_categories(x):
    
    if 'Foreign' in x :
        return 'Documentary & Miscellaneous'
    elif 'Family' in x:
        return 'Films'
    elif 'Animation' in x:
        return 'Documentary & Miscellaneous'
    elif 'Action' in x:
        return 'Films'
    elif 'New' in x:
        return 'Films'
    elif 'Drama' in x:
        return 'Films'
    elif 'Sci-fi' in x:
        return 'Films'
    elif 'Children' in x:
        return 'Films'
    elif 'Comedy' in x:
        return 'Films'
    elif 'Classics' in x:
        return 'Films'
    elif 'Horror' in x:
        return 'Films'
    elif 'Documentary' in x:
        return 'Documentary & Miscellaneous'
    elif 'Travel' in x:
        return 'Documentary & Miscellaneous'
    elif 'Music' in x:
        return 'Documentary & Miscellaneous'
    else:
        return 'Sports&Games'
    

#Applying function

data['category'] = list(map(film_categories, data['category']))

In [21]:
data['category'].value_counts()

Films                          489
Documentary & Miscellaneous    315
Sports&Games                   196
Name: category, dtype: int64

In [22]:
data.nunique()

rented_in_may        2
minutes_length       2
rental_rate          3
rating               5
category             3
special_features    15
dtype: int64

In [23]:
# Checking 'special_features''s categories

data['special_features'].value_counts()

Trailers,Commentaries,Behind the Scenes                   79
Trailers                                                  72
Trailers,Commentaries                                     72
Trailers,Behind the Scenes                                72
Deleted Scenes,Behind the Scenes                          71
Commentaries,Behind the Scenes                            70
Behind the Scenes                                         70
Trailers,Deleted Scenes                                   66
Commentaries,Deleted Scenes,Behind the Scenes             66
Commentaries,Deleted Scenes                               65
Trailers,Commentaries,Deleted Scenes                      64
Commentaries                                              62
Deleted Scenes                                            61
Trailers,Commentaries,Deleted Scenes,Behind the Scenes    61
Trailers,Deleted Scenes,Behind the Scenes                 49
Name: special_features, dtype: int64

### After applying this next function, classification score drop from 0.70 to 0.69.

In [24]:
# Converting type of features to count of features

#def count_extra_features(x):
    
#    #Splitting (",") each row in substrings
    
    #f = []
    
    #for el in data['special_features']: 
     #   f.append(el.split(","))
     
    # Counting substrings in each row to get number of features included
    #extra_features = []

    #for el in f:
     #   extra_features.append(len(el))
    
    #Adding extra column
    #x['special_features']= extra_features
    
    
    #return x)

In [25]:
#Applying function and getting new dataframe

#data=count_extra_features(data)

#data.head()

In [26]:
data.nunique()

rented_in_may        2
minutes_length       2
rental_rate          3
rating               5
category             3
special_features    15
dtype: int64

In [27]:
# Checking rental_rate values --> No need for normalization (convert to categorical?)

data['rental_rate'].unique()

array([0.99, 4.99, 2.99])

### 4. Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.

In [28]:
#Checking data types

data.dtypes

rented_in_may         int64
minutes_length       object
rental_rate         float64
rating               object
category             object
special_features     object
dtype: object

In [29]:
# Converting special_features in categorical - cleanning function not applied

#data['special_features'] = data['special_features'].astype(object)

In [30]:
data.dtypes

rented_in_may         int64
minutes_length       object
rental_rate         float64
rating               object
category             object
special_features     object
dtype: object

##### Spliting y-X

In [31]:
y = data['rented_in_may']
X = data.drop(['rented_in_may'], axis=1)

##### Train-Test Split

In [32]:
# Importing libraries

from sklearn.model_selection import train_test_split

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)

##### Dealing with numerical data

In [33]:
# Getting numerical variables
X_train_num = X_train.select_dtypes(include = np.number)

#Checking values
#X_train_num.value_counts()

#### NO NEED FOR NUMERICAL NORMALIZATION

In [34]:
# Importing libraries

# from sklearn.preprocessing import MinMaxScaler

# Normalizing numerical train data
# transformer = MinMaxScaler().fit(X_train_num) 

# X_train_normalized = transformer.transform(X_train_num)

# X_train_norm = pd.DataFrame(X_train_normalized)

# X_train_norm

In [35]:
# Recovering column's name
# X_train_norm.columns = X_train_num.columns
# X_train_norm.head()

#### Dealing with categorical data

In [36]:
data.dtypes

rented_in_may         int64
minutes_length       object
rental_rate         float64
rating               object
category             object
special_features     object
dtype: object

In [37]:
# Getting categorical variables
X_train_categorical = X_train.select_dtypes(include = np.object)

# Encoding them with get_dummies
X_train_cat = pd.get_dummies(X_train_categorical, 
                             columns=['minutes_length','rating','category','special_features'],
                             drop_first=True)

X_train_cat.head()

/var/folders/w7/7cfd14hn02g0d126w5q47rqw0000gn/T/ipykernel_2963/850489433.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_train_categorical = X_train.select_dtypes(include = np.object)

,minutes_length_>90min,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Films,category_Sports&Games,special_features_Commentaries,"special_features_Commentaries,Behind the Scenes","special_features_Commentaries,Deleted Scenes",...,special_features_Deleted Scenes,"special_features_Deleted Scenes,Behind the Scenes",special_features_Trailers,"special_features_Trailers,Behind the Scenes","special_features_Trailers,Commentaries","special_features_Trailers,Commentaries,Behind the Scenes","special_features_Trailers,Commentaries,Deleted Scenes","special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes","special_features_Trailers,Deleted Scenes","special_features_Trailers,Deleted Scenes,Behind the Scenes"
46,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
789,0,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
722,0,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
283,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
39,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

#### Concatenate

In [38]:
#X_train_transformed = np.concatenate([X_train_norm, X_train_cat], axis=1)

# For numerical, using X_train_num (no normalization done)

X_train_transformed = np.concatenate([X_train_num, X_train_cat], axis=1)

X_train_transformed

array([[4.99, 1.  , 1.  , ..., 0.  , 0.  , 0.  ],
       [0.99, 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       [2.99, 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       ...,
       [4.99, 1.  , 0.  , ..., 0.  , 0.  , 0.  ],
       [4.99, 1.  , 1.  , ..., 0.  , 0.  , 0.  ],
       [2.99, 0.  , 0.  , ..., 0.  , 0.  , 1.  ]])

### 5. Create a logistic regression model to predict 'rented_in_may' from the cleaned data.

In [39]:
#Importing library

from sklearn.linear_model import LogisticRegression

#### Logistic Regression Model

In [40]:
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='auto').fit(X_train_transformed, y_train)

#### Normalizing X_test_num before predictions

As we didn't scalate numerical trainning data before, there's no need to normalize the numerical test data now

In [41]:
# Getting numerical data

X_test_num = X_test.select_dtypes(include = np.number)

# Normalizing test data using the transformer fitted previously

#X_test_normalized = transformer.transform(X_test_num)

#X_test_norm = pd.DataFrame(X_test_normalized)

#### Scale X_test_cat before predictions

In [42]:
# Getting categorical test data
X_test_categorical = X_test.select_dtypes(include = np.object)

# Scalating it with get_dummies
X_test_cat = pd.get_dummies(X_test_categorical, 
                            columns=['minutes_length','rating','category','special_features'],
                            drop_first=True)

/var/folders/w7/7cfd14hn02g0d126w5q47rqw0000gn/T/ipykernel_2963/1494440918.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_test_categorical = X_test.select_dtypes(include = np.object)

In [43]:
X_test_cat.head()

,minutes_length_>90min,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Films,category_Sports&Games,special_features_Commentaries,"special_features_Commentaries,Behind the Scenes","special_features_Commentaries,Deleted Scenes",...,special_features_Deleted Scenes,"special_features_Deleted Scenes,Behind the Scenes",special_features_Trailers,"special_features_Trailers,Behind the Scenes","special_features_Trailers,Commentaries","special_features_Trailers,Commentaries,Behind the Scenes","special_features_Trailers,Commentaries,Deleted Scenes","special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes","special_features_Trailers,Deleted Scenes","special_features_Trailers,Deleted Scenes,Behind the Scenes"
977,1,0,0,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
15,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
56,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
801,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
747,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [44]:
# As we encoded with get_dummies, checking now correspondance between categorical columns's names...

list(X_train_cat.columns) == list(X_test_cat.columns)

True

In [45]:
# ... and their order.
display(list(zip(list(X_train_cat.columns),list(X_test_cat.columns))))

[('minutes_length_>90min', 'minutes_length_>90min'),
 ('rating_NC-17', 'rating_NC-17'),
 ('rating_PG', 'rating_PG'),
 ('rating_PG-13', 'rating_PG-13'),
 ('rating_R', 'rating_R'),
 ('category_Films', 'category_Films'),
 ('category_Sports&Games', 'category_Sports&Games'),
 ('special_features_Commentaries', 'special_features_Commentaries'),
 ('special_features_Commentaries,Behind the Scenes',
  'special_features_Commentaries,Behind the Scenes'),
 ('special_features_Commentaries,Deleted Scenes',
  'special_features_Commentaries,Deleted Scenes'),
 ('special_features_Commentaries,Deleted Scenes,Behind the Scenes',
  'special_features_Commentaries,Deleted Scenes,Behind the Scenes'),
 ('special_features_Deleted Scenes', 'special_features_Deleted Scenes'),
 ('special_features_Deleted Scenes,Behind the Scenes',
  'special_features_Deleted Scenes,Behind the Scenes'),
 ('special_features_Trailers', 'special_features_Trailers'),
 ('special_features_Trailers,Behind the Scenes',
  'special_features_Trailers,Behind the Scenes'),
 ('special_features_Trailers,Commentaries',
  'special_features_Trailers,Commentaries'),
 ('special_features_Trailers,Commentaries,Behind the Scenes',
  'special_features_Trailers,Commentaries,Behind the Scenes'),
 ('special_features_Trailers,Commentaries,Deleted Scenes',
  'special_features_Trailers,Commentaries,Deleted Scenes'),
 ('special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
  'special_features_Trailers,Commentaries,Deleted Scenes,Behind the Scenes'),
 ('special_features_Trailers,Deleted Scenes',
  'special_features_Trailers,Deleted Scenes'),
 ('special_features_Trailers,Deleted Scenes,Behind the Scenes',
  'special_features_Trailers,Deleted Scenes,Behind the Scenes')]

#### Concatenate

In [46]:
X_test_transformed = np.concatenate([X_test_num, X_test_cat], axis=1)

#X_test_transformed = np.concatenate([X_test_norm, X_test_cat], axis=1)

#### Generating predictions

In [47]:
# Now we can make predictions on the test set:
predictions = classification.predict(X_test_transformed)
display(predictions)

display('Classification Score: ',classification.score(X_test_transformed, y_test))

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1])

'Classification Score: '

0.7

#### Imbalance data

In [48]:
#Checking value counts for y_test data

y_test.value_counts()

1    138
0     62
Name: rented_in_may, dtype: int64

In [49]:
#Checking disparity in numbers 

pd.Series(predictions).value_counts()

1    198
0      2
dtype: int64

#### Confusion Matrix

In [50]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[  2,  60],
       [  0, 138]])

#### 6. Evaluate the results.

Classification score is 0.70, which is still far from optimal rates of predictions.

First, I attempted to reduce the number of categories in 'special_features' by just indicating the number of features included (range 1-4).

Second, I tried to treat 'rental_rate' as a categorical variable (range 1-3).

Independently or using both alternatives at the same time, classification score dropped to 0.69.